.product-item {
  padding-top: 40px;

  &__inner {
    display: flex;
    align-items: start;
    margin-bottom: 60px;

    @include tablet {
      margin-bottom: 40px;
    }

    @include minitablet {
      flex-direction: column;

    }
  }

  &__slider {
    margin-right: 30px;
  }

  &__content {
    position: relative;

  }

  &__subtitle {
    margin-bottom: 10px;
  }

  &__title {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: $accent;
    font-weight: 600;
  }

  &__stars {
    margin-bottom: 30px;
  }

  &__txt {
    margin-bottom: 30px;

    @include tablet {
      margin-bottom: 15px;
    }
  }

  &__price {
    margin-bottom: 40px;

    @include tablet {
      margin-bottom: 20px;
    }
  }

  &__price-new {
    font-size: 30px;
    color: $accent;
    margin-right: 20px;
  }

  &__price-old {
    font-size: 24px;
    text-decoration: line-through;
  }

  &__color {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__color-txt {
    margin-right: 20px;
  }

  &__filter-color {
    display: flex;
    margin-bottom: 30px;

    .filter-color__label:not(:last-child) {
      margin: 0 30px 0 0;
    }
  }

  &__filter-size {
    margin-bottom: 40px;

    @include tablet {
      margin-bottom: 20px;
    }
  }

  &__note {
    font-style: italic;
    font-size: 15px;
    margin-bottom: 20px;
  }

  &__wishlist {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 44px;
    height: 44px;

    .wishlist__icon {
      fill: transparent;
      stroke: $accent;
    }

    &.active {
      .wishlist__icon {
        fill: $accent;
      }
    }
  }
}

.slider {
  display: flex;
  max-width: 570px;
  width: 100%;


  @include tablet {
    max-width: 360px;
    padding-bottom: 20px;
  }

  @include minitablet {
    max-width: 100%;
    margin-bottom: 20px;
  }

  &__nav {
    position: relative;
    overflow: hidden;
    width: 100px;
    height: 700px;
    flex-shrink: 0;
    margin-right: 30px;

    .swiper-slide {
      width: 100px;
      height: 160px;
    }

    @include tablet {
      display: none;
    }
  }

  &__main {
    overflow: hidden;
    padding-bottom: 30px;

    @include minitablet {
      padding-bottom: 20px;
    }
  }

  &__main-scrollbar {
    display: none;

    @include tablet {
      display: block;
    }
  }

  &__img {
    object-fit: cover;
  }

}

.swiper-slide-thumb-active {
  outline: 1px solid $accent;
  outline-offset: -1px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  content: '';
  z-index: 10;
  left: 0;
  right: 0;
  width: 100px;
  height: 30px;
  background-color: rgba($accent, 0.7);
  transition: background-color 0.4s;

  &:hover {
    background-color: rgba($light, 0.7);

    .swiper-button__icon {
      fill: $accent;
    }
  }

}

.swiper-button__icon {
  fill: $light;
  transition: fill 0.4s;

}

.swiper-button-prev {
  top: 22px;

  .swiper-button__icon {
    transform: rotate(180deg);
  }
}

.swiper-button-next {
  top: 692px;
}

.product-tabs {

  &__list {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $grey;
    margin-bottom: 30px;

    @include tablet {
      display: none;
    }
  }

  &__item {
    position: relative;
    width: calc((100% - 2 * 30px) / 3);
    padding: 10px 0;
    font-size: 24px;
    text-transform: uppercase;
    cursor: pointer;

    &:before {
      position: absolute;
      content: '';
      z-index: 5;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $accent;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.4s;
    }

    &.active {
      color: $accent;

      &:before {
        transform: scaleX(1);
      }
    }
  }

  &__box {
    position: relative;
    margin-bottom: 20px;

    @include tablet {
      border-bottom: 1px solid $grey;
    }

  }

  &__title {
    display: none;
    padding: 10px 0;
    font-size: 24px;
    text-transform: uppercase;
    cursor: pointer;



    @include tablet {
      display: inline-block;
      width: fit-content;
    }
  }

  &__info {
    padding-top: 0;
    display: block;
    margin-bottom: 20px;

    &.hidden {
      display: none;
    }

    @include tablet {
      padding-top: 30px;
    }

    @include minitablet {
      padding-top: 10px;
    }

    @include mobile {
      margin-bottom: 30px;
    }
  }

  &__info-list {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;

    @include minitablet {
      flex-wrap: wrap;
    }
  }

  &__info-item {
    width: calc((100% - 2 * 20px) / 3);

    @include minitablet {
      width: calc((100% - 20px) / 2);
    }

    @include mobile {
      width: 100%;
    }
  }

  &__info-title {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &__info-txt {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__button {
    margin-left: auto;

    @include minitablet {
      margin-left: 0;
    }
  }

  &__info-inner {
    display: flex;
    justify-content: space-between;

    @include minitablet {
      flex-direction: column;
    }
  }

  &__txt-content {
    max-width: 700px;
    width: 100%;
    margin-right: 30px;

    @include minitablet {
      margin: 0 0 10px;
    }
  }

  &__tabs-item {
    position: relative;
    padding-left: 20px;
    max-width: 370px;
    width: 100%;


    &:before {
      position: absolute;
      content: '';
      left: 0;
      top: 6px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $accent;
    }

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__size {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 10px;
    margin-bottom: 20px;

    @include mobile {
      flex-direction: column;
    }
  }

  &__size-link {
    margin-left: auto;
  }

  &__size-item {
    width: calc((100% - 30px) / 2);

    @include mobile {
      width: 100%;
    }
  }

  &__size-txt {
    font-weight: 500;
    color: $accent;
  }








}

.extra-item {

  &__product-extra {

    @include tablet {
      width: 200px;
    }
  }
  
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 30px;

    @include minitablet {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 10px;
    }
  }

  &__link {

    @include minitablet {
      margin-left: auto;
      padding: 10px 0;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    @include tablet {
      display: flex;
      justify-content: flex-start;
      overflow-x: auto;
      scroll-snap-type: x;
      -webkit-overflow-scrolling: touch;
    }
  }

  &__item {
    width: calc((100% - 3 * 30px) / 4);

    @include tablet {
      width: 270px;
      scroll-snap-align: start;
      scroll-snap-stop: always;
    }

    &:not(:last-child) {
      margin-right: 30px;

      @include tablet {
        margin-right: 20px;
      }
    }
  }

  &__img {
    object-fit: cover;
  }
}

.review {
  background-color: $bg-accent;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }

  &__btn-box {
    display: flex;
  }

  &__btn-prev,
  &__btn-next {
    position: static;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid $accent;

    &:hover {
      background-color: $accent;

      .review__btn-icon {
        fill: $light;
      }
    }
  }

  &__btn-prev {
    margin-right: 20px;
    transform: rotate(180deg);
  }

  &__btn-icon {
    transform: rotate(-90deg);
    fill: $primary;
    transition: fill 0.4s;
  }

  &__rating {
    margin-bottom: 20px;
  }

  &__swiper-wrapper {
    margin-bottom: 40px;
  }

  &__headline {
    font-size: 24px;
    margin-bottom: 20px;
  }

  &__txt {
    font-size: 16px;
    margin-bottom: 10px;
  }

  &__name {
    font-style: italic;
    font-size: 15px;
  }
}

.swiper-scrollbar.swiper-scrollbar-horizontal {
  width: 410px;
  left: 50%;
  transform: translate(-50%);
}

.swiper-scrollbar-drag {
  background-color: $accent;
}

.viewed {

  &__title {
    font-size: 51px;
    margin-bottom: 30px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: stretch;

     @include tablet {
       display: flex;
       justify-content: flex-start;
       overflow-x: auto;
       scroll-snap-type: x;
       -webkit-overflow-scrolling: touch;
     }
    
  }

  &__item {
    width: calc((100% - 30px * 4) / 5);

    &:not(:last-child) {
      margin-right: 30px;

      @include tablet {
        margin-right: 20px;
      }
    }

     @include tablet {
      width: 200px;
     }
  }

  &__product-card {
    .product-card__link {
       @include tablet {
        height: 250px;
       }
    }

  }

}

.modal-sold {
  position: relative;
 
  &__close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
  }

}