@font-face {
  font-family: 'Swifteddemo';
  font-weight: 400;
  src: url('../fonts/Swifteddemo.woff2') format('woff2'),
    url('../fonts/Swifteddemo.woff') format('woff');
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Drive-Hearts';
  font-weight: 400;
  src: url('../fonts/Drive-Hearts.woff2') format('woff2'),
    url('../fonts/Drive-Hearts.woff') format('woff');
  font-style: normal;
  font-display: swap;
} 
