.contact {
  padding: 40px 0 90px;

  @include tablet {
    padding: 20px 0 30px;
  }

  &__title {
    margin-bottom: 20px;

    @include tablet {
     font-size: 48px;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;

    @include tablet {
      flex-direction: column;
    }
  }

  &__map {
    margin-right: 70px;
    max-width: 700px;
    width: 100%;

    @include tablet {
      margin: 0 0 30px;
      max-width: 100%;
    }
  }

  &__map-box {
    width: 100%;

    @include tablet {
      height: 200px;
    }
  }

  &__content {
    flex-shrink: 0;
    max-width: 400px;
    width: 100%;

    @include tablet {
      display: flex;
      justify-content: space-between;
      max-width: 100%;
    }

    @include minitablet {
      display: block;
    }
  }

  &__form-box {
    flex-grow: 1;
  }

  &__address {
    margin-bottom: 40px;
    max-width: 40%;

     @include tablet {
      margin: 71px 20px 0 0;
     }

     @include minitablet {
      margin: 0 0 30px;
      max-width: 100%;
     }
  }

}

.form-contact {

  &__input {
    display: block;
    width: 100%;
    background-color: $light;
    border: 1px solid $accent;
    padding: 15px 18px;
    margin: 10px 0;
    font-size: 17px;

    &::placeholder {
      color: $accent;
      font-weight: 300;
    }

    &--textarea {
      min-height: 200px;
      max-height: 250px;
      resize: vertical;
    }

    &:focus {
      &::placeholder {
        color: transparent;
      }
    }

    &:hover {
      background-color: $bg-accent;
    }
  }

  &__button {
    width: 100%;
  }
}