.footer {
  background-color: $accent;
  padding: 80px 0;

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  &__logo {
    margin-bottom: 60px;

    @include tablet {
      width: 230px;
    }
  }

  &__address {
    width: 270px;
  }

  &__contacts {
    max-width: 300px;
    width: 100%;
    margin-right: 50px;
  }

  &__info {
    // display: flex;
    // justify-content: space-between;
    padding-top: 56px;
    max-width: 770px;
    width: 100%;

    @include tablet {
      display: block;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: fit-content;
    width: 100%;

    &:not(:last-child) {
      margin-right: 50px;
    }

    &:last-child {
      width: fit-content;

      @include tablet {
        width: 100%;
        border-bottom: 1px solid rgba($light, 0.5);
      }
    }
  }

  &__list {
    opacity: 1;
    background-color: rgba($color: #000000, $alpha: 0.2);
    transition: height 0.4s ease-out,
      opacity 0.4s ease-out,
      overflow 0.4s ease-out;

    will-change: max-height;
    overflow: hidden;
    // background-color: #fff;

    &.hidden {
      max-height: 0;
      opacity: 0;
      padding-bottom: 20px;
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 20px;

    @include tablet {
      margin-bottom: 0;
    }
  }

  &__link {
    position: relative;
    display: block;
    width: fit-content;
    color: $light;
    transition: outline 0.4s;

    &::before {
      position: absolute;
      content: '';
      width: 100%;
      bottom: -2px;
      left: 0;
      height: 1px;
      background-color: $light;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.4s;
    }

    &:focus {
      outline: solid 1px $secondary;
      outline-offset: 2px;
      border-radius: 4px;
    }

    &:hover {

      &::before {
        transform: scaleX(1);
      }
    }

    &:active {
      color: $secondary;
    }

    &--big {
      font-size: 28px;
    }

    &--color {
      color: $secondary;

      &:hover {
        color: $light;
      }
    }

    @include tablet {
      padding: 10px 0;
    }
  }



  &__title {
    display: block;
    max-width: 300px;
    width: 100%;
    margin-bottom: 30px;
    font-size: 24px;
    text-align: left;
    color: $light;

    @include tablet {
      pointer-events: auto;
      padding: 10px 0;
      margin-bottom: 0;
    }
  }




  &__bottom {
    display: flex;
    justify-content: space-between;
  }


  &__txt {
    color: $secondary;
    margin-right: 40px;
  }

  &__payment {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    width: 170px;
  }

  &__payment-item {
    display: flex;
    justify-content: center;
    align-items: center;

    &:not(:last-child) {
      margin-right: 18px;
    }
  }

  &__bottom-link {
    color: $secondary;

    &:focus {
      outline: solid 1px $secondary;
      outline-offset: 2px;
      border-radius: 4px;
    }

    &:hover {
      color: $light;
    }

    &:active {
      color: $secondary;
    }

  }

}