.hero {
  position: relative;

  &__inner {
    height: 700px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include tablet {
      height: 450px;
    }

    @include minitablet {
      height: 200px;
    }
  }

  &__content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    max-width: 620px;
    width: 100%;

    @include tablet {
      max-width: 460px;
    }

    @include minitablet {
      position: static;
      max-width: 768px;
      padding-top: 20px;
      transform: translateY(0);
      text-align: center;
    }
  }

  &__title {
    margin-bottom: 50px;

    @include tablet {
      font-size: 48px;
      margin-bottom: 40px
    }

    @include minitablet {
      margin-bottom: 10px;
      font-size: 36px;
    }

    @include mobile {
      font-size: 32px;
    }
  }

  &__text {
    max-width: 500px;
    font-size: 40px;
    font-style: italic;
    margin-bottom: 40px;

    @include tablet {
      font-size: 24px;
      max-width: 280px;
      margin-bottom: 30px;
    }

    @include minitablet {
      margin-bottom: 20px;
      max-width: 768px;

    }
  }

  &__button {

    @include minitablet {
      margin: 0 auto;
    }
  }
}

.collection {

  &__title {
    margin-bottom: 24px;

    @include tablet {
      margin-bottom: 10px;
    }
  }

  &__inner {
    position: relative;
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;

    @include tablet {
      position: static;
    }
  }

  &__content-two {
     position: absolute;
    top: 0;
    left: 0;
  }

  &__subtitle {
    margin-bottom: 20px;

    @include tablet {
      margin-bottom: 10px;
    }


  }

  &__info {
    max-width: 570px;
    width: 100%;
    margin-bottom: 40px;

    @include minidesk {
      max-width: 360px;
    }

    @include tablet {

      margin-bottom: 20px;
    }

    @include mobile {
      max-width: 100%;
    }
  }

  &__txt {

    &:not(:last-child) {
      margin-bottom: 8px;
    }

    @include minitablet {
      margin-bottom: 10px;
    }
  }

  &__button {

    @include tablet {
      margin-bottom: 30px;
    }

    @include mobile {
      width: 100%;
    }
  }

  &__photo {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;

    @include tablet {
      align-items: stretch;
      height: 500px;
    }
  }

  &__item {
    padding-top: 120px;
    &:not(:last-child) {
      margin-right: 30px;
    }

    @include tablet {
      width: calc((100% - 2 * 30px) / 3);
    }

    &--first {
      @include tablet {
        width: calc(((100% - 30px) / 3) * 2);
        height: auto;
      }
    }
  }

  &__images-item {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__images {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    padding-top: 30px;
  }

  &__img {
    object-fit: cover;
    height: auto;

    @include tablet {
      height: 100%;
    }

    &--corner {
      border-radius: 300px 0 0 0;

      @include minitablet {
        border-radius: 0;
      }
    }

    &--big {
      padding: 120px 0;

      @include tablet {
        padding: 0;
      }
    }
  }

  &__image {
    object-fit: cover;
    height: auto;

    &--corner {
      border-radius: 300px 0 0 0;
    }
  }

  &--big {
    padding: 120px 0;

    @include tablet {
      padding: 0;
    }
  }

}

.accessories {
  background-color: $bg-accent;


  &__title {
    margin-bottom: 40px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    margin-right: 30px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
  }

  &__img {
    object-fit: cover;

    &:not(:last-child) {
      margin-right: 30px;
    }

    &--corner {
      border-radius: 0 300px 0 0;
    }
  }

  &__subtitle {
    color: $accent;
    font-size: 90px;
    margin-bottom: 20px;
  }

  &__txt {
    margin-bottom: 40px;
  }

}

.gallery {

  &__inner {
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    height: 1390px;
  }

  &__content {
    max-width: 500px;
    width: 100%;
    margin-left: auto;
  }

  &__title {
    margin-bottom: 40px;
  }

  &__subtitle {
    margin-bottom: 30px;
  }

  &__txt {
    margin-bottom: 40px;
  }

}

.subscribe {

  &__inner {
    padding: 80px 190px;
    max-width: 1070px;
    width: 100%;
    background-color: $bg-accent;
    margin: 0 auto;
    margin-bottom: 120px;
  }

  &__title {
    font-size: 46px;
    margin-bottom: 40px;
  }

  &__form {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $accent;
    margin-bottom: 10px;
  }

  &__input {
    flex-grow: 1;
    padding: 10px 0;
    background-color: transparent;

    &::placeholder {
      color: $secondary;
    }

    &:focus {
      outline: solid 1px $accent;
    }

    &:hover {

      &::placeholder {
        color: $primary;
      }
    }
  }

  &__btn {
    text-transform: uppercase;
    color: $primary;
    transition: color 0.4s,
      background-color 0.4s;

    &:focus {
      border: 1px solid $accent;
    }

    &:hover {
      outline: solid 1px $accent;
      border-radius: 4px;
      background-color: $accent;
      color: $light;
    }

    &:active {
      background-color: transparent;
      color: $primary;
      outline: solid 1px $accent;
    }
  }

  &__txt {
    font-size: 15px;
  }
}