.modal {
  position: absolute;
  z-index: 50;
  top: 0;
  right: 0;
  padding: 50px 40px;
  width: 700px;
  background-color: $light;
  border-radius: 6px;
  box-shadow: 8px 8px 3px rgba(0, 0, 0, 0.12);
  transform-origin: 0 0;
  transform: rotateX(-90deg);
  visibility: hidden;
  opacity: 0;
  transition: transform 0.5s;

  &--active {
    transform: rotateX(0deg);
    visibility: visible;
    opacity: 1;
  }

  &__title {
    font-size: 24px;
    margin-bottom: 20px;
  }

  &__list {
    margin-bottom: 30px;
  }

  &__item {
    border-top: 1px solid $grey;

    &:last-child {
      border-bottom: 1px solid $grey;
    }

    &--none {
      display: none;
    }
  }

  &__sum {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  &__box-txt {
    margin-bottom: 20px;
  }

  &__txt {
    &:not(:last-child) {
      margin-bottom: 4px;
    }
  }

  &__price {
    font-size: 20px;
    font-weight: 500;
  }

  &__subtitle {
    font-weight: 700;
    text-transform: uppercase;

    &--color {
      color: $secondary;
      margin-bottom: 10px;
    }
  }

  &__button {
    width: fit-content;
    margin: 0 auto 10px;
  }

  &__link {
    display: block;
    margin: 0 auto;

  }

  &__btn {
    position: absolute;
    top: 10px;
    right: 30px;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid rgba($grey, 0.1);
    transition: border-color 0.4s, border 0.4s,
      box-shadow 0.4s, ;

    &:focus {
      border-color: $accent;
    }

    &:hover {
      box-shadow: 1px 1px 1px rgba($grey, 0.5);

      .modal__icon {
        fill: $accent;
      }
    }

    &:active {
      box-shadow: inset 3px 3px 3px rgba($black, 0.12);

      .modal__btn-icon {
        fill: $accent;
      }
    }
  }

  &__icon {
    fill: $grey;
    transition: fill 0.3s;
  }
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: rgba($black, 0.3);
  backdrop-filter: blur(1px);
  transition: opacity 0.5s;

  &.hidden {
    opacity: 0;
    pointer-events: none;

    .modal-sold {
      transform: scale(0);
      opacity: 0;
    }
  }
}

.modal-sold {
  position: relative;
  max-width: 450px;
  width: 90%;
  margin: auto;
  text-align: center;
  transform: scale(1);
  visibility: visible;
  opacity: 1;
  box-shadow: none;
  transition: transform 0.5s, opacity 0.5s;

  &.modal__txt {
    margin-bottom: 20px;
  }
}
