.modal {
  position: absolute;
  z-index: 50;
  top: 0;
  right: 0;
  padding: 50px 40px;
  width: 700px;
  background-color: $light;
  border-radius: 6px;
  box-shadow: 8px 8px 3px rgba(0, 0, 0, 0.12);
  transform-origin: 0 0;
  transform: rotateX(-90deg);
  visibility: hidden;
  opacity: 0;
  transition: transform 0.5s;

  &--active {
    transform: rotateX(0deg);
    visibility: visible;
    opacity: 1;
  }

  &__title {
    font-size: 24px;
    margin-bottom: 20px;
  }

  &__list {
    margin-bottom: 30px;
  }

  &__item {
    border-top: 1px solid $grey;

    &:last-child {
      border-bottom: 1px solid $grey;
    }

    &--none {
      display: none;
    }
  }

  &__sum {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  &__price {
    font-size: 20px;
    font-weight: 500;
  }

  &__subtitle {
    font-weight: 700;
    text-transform: uppercase;
  }

  &__button {
    width: fit-content;
    margin: 0 auto 20px;
  }

  &__link {
    display: block;
    margin: 0 auto;

  }

  &__btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid rgba($grey, 0.1);
    transition: border-color 0.4s, border 0.4s,
      box-shadow 0.4s, ;

    &:focus {
      border-color: $accent;
    }

    &:hover {
      border-color: $accent;

      .modal__icon {
        fill: $accent;
      }
    }

    &:active {
      border: 0px solid rgba($primary, 0.1);
      box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.12);

      .modal__icon {
        fill: $accent;
      }
    }
  }

  &__icon {
    fill: $primary;
    transition: fill 0.3s;
  }
}