.modal {
  position: absolute;
  z-index: 50;
  top: 0;
  right: 0;
  padding: 50px 40px;
  background-color: $light;
  border-radius: 6px;
  box-shadow: 8px 8px 3px rgba(0, 0, 0, 0.12);
  transform-origin: 0 0;
  transform: rotateX(-90deg);
  visibility: hidden;
  opacity: 0;
  transition: transform 0.5s;

  &--active {
    transform: rotateX(0deg);
    visibility: visible;
    opacity: 1;
  }

  &__title {
    font-size: 32px;
    margin-bottom: 20px;
  }

  &__list {
    margin-bottom: 30px;
  }

  &__item {
    display: flex;
    align-items: stretch;
    width: 500px;
    padding: 20px 0;
    border-top: 1px solid $grey;

    &:last-child {
      border-bottom: 1px solid $grey;
    }

    &--none {
      display: none;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  &__img {
    margin-right: 20px;
  }

  &__description {
    max-width: 250px;
    width: 100%;
  }

  &__headline {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 4px;
  }

  &__price {
    font-size: 20px;

    &--big {
      font-weight: 700;
      font-size: 17px;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  &__info-item {
    font-size: 15px;

    &:not(:last-child) {
      margin-right: 38px;
    }
  }

  &__remove {
    display: block;
    width: fit-content;
    color: $grey;
    border-bottom: 1px solid $grey;
    transition: outline 0.4s,
      color 0.4s,
      border-color 0.4s;

    &:focus {
      outline: solid 1px $grey;
    }

    &:hover {
      color: $accent;
      border-color: $accent;
    }

    &:active {
      color: $primary;
      border-color: $primary;
    }
  }

  &__sum {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  &__subtitle {
    font-weight: 700;
    text-transform: uppercase;
  }

  &__button {
    width: 100%;
  }

  &__btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid rgba($grey, 0.1);
    transition: border-color 0.4s, border 0.4s,
      box-shadow 0.4s, ;

    &:focus {
      border-color: $accent;
    }

    &:hover {
      border-color: $accent;
      .modal__icon {
        fill: $accent;
      }
    }

    &:active {
      border: 0px solid rgba($primary, 0.1);
      box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.12);

      .modal__icon {
        fill: $accent;
      }
    }
  }

  &__icon {
    fill: $primary;
    transition: fill 0.3s;
  }
}