<footer class="footer">
  <div class="container">
   
      <div class="footer__top">
        <div class="footer__contacts">
          <a class="logo" href="#">
            <img class="logo footer__logo" src="images/logo-white.svg" alt="Logo Patricia Wedding" width="300"
              height="75">
          </a>
          <address class="footer__address">
            <ul class="address address--white">
              <li class="address__item">
                <a class="address__link" href="tel: +19179586921">
                  +1 (917) 958-69-21
                </a>
              </li>
              <li class="address__item">
                <a class="address__link" href="googleapis: +19179586921">
                  123 5th Ave, 3th floor,
                  New York, NY 10003, USA
                </a>
              </li>
              <li class="address__item">
                <a class="address__link" href="mailto: info@patriciaweddig.com">
                  info@patriciaweddig.com
                </a>
              </li>
            </ul>
          </address>
        </div>

        <ul class="footer__info">

          <li class="footer__content">
            <button class="footer__title" aria-expanded="false">
              Online orders
            </button>

            <ul class="footer__list hidden" aria-hidden="true">
              <li class="footer__item">
                <a class="footer__link" href="#">
                  Order Status
                </a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">
                  Shipping Information
                </a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">
                  Secure payment
                </a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">
                  Returns and Exchanges
                </a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">
                  International Orders
                </a>
              </li>
            </ul>
          </li>

          <li class="footer__content">
            <button class="footer__title" aria-expanded="false">
              Help center
            </button>
    
            <ul class="footer__list hidden" aria-hidden="true">
              <li class="footer__item">
                <a class="footer__link" href="#">
                  FAQ
                </a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">
                  Site map
                </a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">
                  Virtual Appointment
                </a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">
                  Share your wedding pictures
                </a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">
                   Privacy policy
                </a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">
                   Website Terms of Use
                </a>
              </li>

            </ul>
          </li>

          <li class="footer__content">
            <button class="footer__title" aria-expanded="false">
              Follow us
            </button>
            <!-- <h2 class="footer__title" data-tab>
              Follow us
            </h2> -->
            <ul class="footer__list hidden" aria-hidden="true">
              <li class="footer__item">
                <a class="footer__link" href="#">
                  Instagram
                </a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">
                  Facebook
                </a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">
                  Pinterest
                </a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">
                  Twitter
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>


      <div class="footer__bottom">    
        <ul class="footer__payment">
          <li class="footer__payment-item">
            <svg class="footer__icon" width="44" height="28">
              <use href="./images/symbol-defs.svg#icon-mastercard"></use>
            </svg>
          </li>
          <li class="footer__payment-item">
            <svg class="footer__icon" width="44" height="28">
              <use href="./images/symbol-defs.svg#icon-visa"></use>
            </svg>
          </li>
          <li class="footer__payment-item">
            <svg class="footer__icon" width="44" height="28">
              <use href="./images/symbol-defs.svg#icon-paypal"></use>
            </svg>
          </li>


        </ul>
          <p class="footer__txt">
            2021@PatriciaWedding
          </p>
       
            

          <a href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;to=irynakozlova.k@gmail.com"
            class="footer__bottom-link"
            target="_blank">
            created by iryna kozlova
          </a>
      </div>
  </div>
</footer>