<header class="header">
  <div class="container">
    <div class="header__top">
      <div class="header__language">
        <svg class="header__icon" width="28" height="28">
          <use href="./images/symbol-defs.svg#icon-lang"></use>
        </svg>
        <p class="header__lang">
          En
        </p>
      </div>
      <a class="logo" href="#">
        <img class="logo__img" src="images/logo.svg" alt="Patriia Wedding Logo" width="320" height="80">
      </a>
      <ul class="usernav">
        <li class="usernav__item">
          <a class="usernav__link" href="#">
            <span class="sr-only">Your account page</span>
            <svg class="usernav__icon" width="28" height="28">
              <use href="./images/symbol-defs.svg#icon-account"></use>
            </svg>
          </a>
        </li>
        <li class="usernav__item">
          <a class="usernav__link" href="#">
            <span class="sr-only">Wishlist</span>
            <svg class="usernav__icon" width="28" height="28">
              <use href="./images/symbol-defs.svg#icon-wishlist"></use>
            </svg>
            <span class="usernav__number">
              10
            </span>
          </a>
        </li>
        <li class="usernav__item">
          <button class="usernav__link" type="button">
            <span class="sr-only">shopping bag</span>
            <svg class="usernav__icon" width="28" height="28">
              <use href="./images/symbol-defs.svg#icon-bag"></use>
            </svg>
            <span class="usernav__number">
              2
            </span>
          </button>
        </li>
      </ul>
    </div>
    <div class="header__bottom">
      <nav class="header__menu">
        <ul class="header__list">
          <li class="header__item">
            <a class="header__link" href="#">
              Home
            </a>
          </li>
          <li class="header__item">
            <a class="header__link" href="#">
              Dresses
            </a>
          </li>
          <li class="header__item">
            <a class="header__link" href="#">
              Wedding party
            </a>
          </li>
          <li class="header__item">
            <a class="header__link" href="#">
              Accessories
            </a>
          </li>
          <li class="header__item">
            <a class="header__link" href="#">
              Gallery
            </a>
          </li>
          <li class="header__item">
            <a class="header__link" href="#">
              Contact us
            </a>
          </li>
        </ul>
      </nav>

      <form class="header__form" action="#">
        <label class="sr-only" for="search">Search</label>
        <input class="header__input" type="text" name="search" id="search" placeholder="Search">
        <button class="header__btn">
          <svg class="usernav__btn-icon" width="28" height="20">
            <use href="./images/symbol-defs.svg#icon-search"></use>
          </svg>
        </button>

      </form>

    </div>
  </div>

</header>