<header class="header">
  <div class="container">
    <div class="header__top">
      <div class="header__language">
        <svg class="header__icon" width="28" height="28">
          <use href="./images/symbol-defs.svg#icon-lang"></use>
        </svg>
        <p class="header__lang">
          En
        </p>
      </div>
      <a class="logo" href="#">
        <img class="logo__img" src="images/logo.svg" alt="Patriia Wedding Logo" width="320" height="80">
      </a>
      <ul class="usernav">
        <li class="usernav__item">
          <a class="usernav__link" href="#">
            <span class="sr-only">Your account page</span>
            <svg class="usernav__icon" width="28" height="28">
              <use href="./images/symbol-defs.svg#icon-account"></use>
            </svg>
          </a>
        </li>
        <li class="usernav__item">
          <a class="usernav__link" href="#">
            <span class="sr-only">Wishlist</span>
            <svg class="usernav__icon" width="28" height="28">
              <use href="./images/symbol-defs.svg#icon-wishlist"></use>
            </svg>
            <span class="usernav__number">
              10
            </span>
          </a>
        </li>
        <li class="usernav__item">
          <button class="usernav__link" type="button">
            <span class="sr-only">shopping bag</span>
            <svg class="usernav__icon" width="28" height="28">
              <use href="./images/symbol-defs.svg#icon-bag"></use>
            </svg>
            <span class="usernav__number">
              2
            </span>
          </button>
        </li>
      </ul>
    </div>
    <div class="header__bottom">
      <nav class="header__menu">
        <ul class="header__list list-reset">
          <li class="header__item">
            <a class="header__link" href="#">
              Home
            </a>
          </li>
          <li class="header__item">
            <button class="header__link" type="button">
              Dresses
              <svg class="header__link-icon" width="16" height="16">
                <use href="./images/symbol-defs.svg#icon-chevron"></use>
              </svg>
            </button>
            <div class="dropdown">
              <div class="container">
                <div class="dropdown__inner" style="background-image: url('images/dropdown/drobdown-bg.jpg');">

                  <div class="dropdown__column1">
                    <h2 class="dropdown__title">
                      View by silhouette
                    </h2>
                    <ul class="dropdown__category">
                      <li class="dropdown__box">
                        <a class="dropdown__box-link" href="#">
                          <img class="dropdown__img" src="images/dropdown/ball.jpg" alt="Ball Gown style" width="130">
                            Ball Gown
                        </a>
                      </li>
                      <li class="dropdown__box">
                        <a href="#" class="dropdown__box-link">
                          <img class="dropdown__img" src="images/dropdown/mermaid.jpg" alt="Mermaid style">
                          Mermaid
                        </a>
                      </li>
                      <li class="dropdown__box">
                        <a class="dropdown__box-link" href="#">
                          <img class="dropdown__img" src="images/dropdown/line.jpg" alt="A-line style">
                          A-line
                        </a>
                      </li>
                      <li class="dropdown__box">
                        <a class="dropdown__box-link" href="#">
                          <img class="dropdown__img" src="images/dropdown/sheath.jpg" alt="Sheath style">
                          Sheath
                        </a>
                      </li>
                    </ul>
                  </div>

                  <div class="dropdown__column2">
                    <div class="dropdown__top">
                      <ul class="dropdown__top-column">
                        <h3 class="dropdown__title">
                          View by styles
                        </h3>
                        <ul class="dropdown__list">
                          <li class="dropdown__item">
                            <a class="dropdown__link" href="#">
                              Civil Wedding
                            </a>
                          </li>
                          <li class="dropdown__item">
                            <a class="dropdown__link" href="#">
                              Simple
                            </a>
                          </li>
                          <li class="dropdown__item">
                            <a class="dropdown__link" href="#">
                              Elegant
                            </a>
                          </li>
                          <li class="dropdown__item">
                            <a class="dropdown__link" href="#">
                              Boho
                            </a>
                          </li>
                          <li class="dropdown__item">
                            <a class="dropdown__link" href="#">
                              Beach
                            </a>
                          </li>
                          <li class="dropdown__item">
                            <a class="dropdown__link" href="#">
                              Romantic
                            </a>
                          </li>
                          <li class="dropdown__item">
                            <a class="dropdown__link" href="#">
                              Embroidery
                            </a>
                          </li>
                          <li class="dropdown__item">
                            <a class="dropdown__link" href="#">
                              Modern
                            </a>
                          </li>
                        </ul>
                      </ul>
                      <ul class="dropdown__top-column">
                        <h3 class="dropdown__title">
                          View by trands
                        </h3>
                        <ul class="dropdown__list">
                          <li class="dropdown__item">
                            <a class="dropdown__link" href="#">
                              Long sleeves
                            </a>
                          </li>
                          <li class="dropdown__item">
                            <a class="dropdown__link" href="#">
                              Open Back
                            </a>
                          </li>
                          <li class="dropdown__item">
                            <a class="dropdown__link" href="#">
                              Champagne
                            </a>
                          </li>
                          <li class="dropdown__item">
                            <a class="dropdown__link" href="#">
                              Effetto Tattooz
                            </a>
                          </li>
                          <li class="dropdown__item">
                            <a class="dropdown__link" href="#">
                              Pink
                            </a>
                          </li>
                          <li class="dropdown__item">
                            <a class="dropdown__link" href="#">
                              Lace
                            </a>
                          </li>
                          <li class="dropdown__item">
                            <a class="dropdown__link" href="#">
                              Effetto Tattoo
                            </a>
                          </li>

                        </ul>
                      </ul>
                    </div>
                    <a class="dropdown__link dropdown__link--big" href="#">
                      Shop All Dresses
                    </a>
                  </div>

                </div>

              </div>


            </div>
          </li>
          <li class="header__item">
            <a class="header__link" href="#">
              Wedding party
            </a>
          </li>
          <li class="header__item">
            <a class="header__link" href="#">
              Accessories
            </a>
          </li>
          <li class="header__item">
            <a class="header__link" href="#">
              Gallery
            </a>
          </li>
          <li class="header__item">
            <a class="header__link" href="#">
              Contact us
            </a>
          </li>
        </ul>
      </nav>

      <form class="header__form" action="#">
        <label class="sr-only" for="search">Search</label>
        <input class="header__input" type="text" name="search" id="search" placeholder="Search">
        <button class="header__btn">
          <svg class="usernav__btn-icon" width="28" height="20">
            <use href="./images/symbol-defs.svg#icon-search"></use>
          </svg>
        </button>

      </form>

    </div>
  </div>

</header>